In [7]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1    Fisika     74     laki-laki   12D
1         2   Biologi     23     laki-laki   12A
2         3   Biologi     42     laki-laki   12D
3         4     Kimia     53     laki-laki   12A
4         5   Biologi     25     perempuan   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [4]:
# code here
display(df.iloc[5:11,1:3])
print('\n')
display(df.loc[5:10,'pelajaran':'nilai'])

     pelajaran  nilai
5   Matematika     75
6       Fisika     25
7      Geologi     59
8      Geologi     90
9        Kimia     12
10       Kimia     96

     pelajaran  nilai
5   Matematika     75
6       Fisika     25
7      Geologi     59
8      Geologi     90
9        Kimia     12
10       Kimia     96

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [38]:
ekonomi = df.pelajaran == 'ekonomi'
fisika = df.pelajaran == 'fisika'

df.loc[(ekonomi | fisika)]

Empty DataFrame
Columns: [siswa_id, pelajaran, nilai, jenis-kelamin, kelas]
Index: []

In [27]:
nilai_50 = df.nilai > 50
kimia = df.pelajaran == 'kimia'

print(df[(kimia) | (nilai_50)])

    siswa_id   pelajaran  nilai jenis-kelamin kelas
0          1      Fisika     74     laki-laki   12D
3          4       Kimia     53     laki-laki   12A
5          6     Biologi     52     laki-laki   12C
8          9       Kimia     64     laki-laki   12B
9         10     Ekonomi     77     laki-laki   12A
10        11  Matematika     71     perempuan   12A
11        12       Kimia     61     laki-laki   12D
12        13     Ekonomi     95     laki-laki   12C
13        14  Matematika     93     laki-laki   12A
15        16  Matematika     78     laki-laki   12C
16        17     Geologi     94     perempuan   12A
18        19     Ekonomi     99     perempuan   12D

In [20]:
# code here
nilai_70 = df.nilai > 70
perempuan = df['jenis-kelamin'] == 'perempuan'
print(df[(perempuan) | (nilai_70)])

    siswa_id   pelajaran  nilai jenis-kelamin kelas
0          1      Fisika     74     laki-laki   12D
4          5     Biologi     25     perempuan   12C
7          8      Fisika     46     perempuan   12C
9         10     Ekonomi     77     laki-laki   12A
10        11  Matematika     71     perempuan   12A
12        13     Ekonomi     95     laki-laki   12C
13        14  Matematika     93     laki-laki   12A
14        15     Biologi     23     perempuan   12A
15        16  Matematika     78     laki-laki   12C
16        17     Geologi     94     perempuan   12A
17        18     Ekonomi      7     perempuan   12B
18        19     Ekonomi     99     perempuan   12D

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [43]:
# code here
def normalized(x):
    return x - df['nilai'].min()/df['nilai'].max()-df['nilai'].min()

nilai_trans = df['nilai'].apply(normalized)
print(nilai_trans)

0     66.929293
1     15.929293
2     34.929293
3     45.929293
4     17.929293
5     44.929293
6     16.929293
7     38.929293
8     56.929293
9     69.929293
10    63.929293
11    53.929293
12    87.929293
13    85.929293
14    15.929293
15    70.929293
16    86.929293
17    -0.070707
18    91.929293
19    20.929293
Name: nilai, dtype: float64