<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [0]:
rajin = 'true'
males = 'false'
def akhlaq(saya):
    true = saya
    false = males
    return true
    return false
    
print(akhlaq(rajin))
print(akhlaq(males))

In [2]:
def lulus_ujian(nilai):
    return nilai >= 75

print("apakah saya akan lulus ujian?", lulus_ujian(80))
print("apakah saya akan lulus ujian?", lulus_ujian(67))

apakah saya akan lulus ujian? True
apakah saya akan lulus ujian? False

In [3]:
#contoh comparison dari tipe data integer
a = [1, 4, 5]
b = [3, 5, 7]
hasil = a >= b #comparing sum 'a' vs sum 'b' 
print(a,'>','=',b,hasil)

[1, 4, 5] > = [3, 5, 7] False

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [1]:
jelek = False
tamvan = not jelek

print('saya jelek =',jelek)
print('saya tamvan =',tamvan)

saya jelek = False
saya tamvan = True

In [2]:
tamvan = True
jelek = False
biasa = tamvan or jelek
print(tamvan,'OR',jelek,'=',biasa)

tamvan = True
jelek = True
biasa = tamvan or jelek
print(tamvan,'OR',jelek,'=',biasa)

tamvan = False
jelek = False
biasa = tamvan or jelek
print(tamvan,'OR',jelek,'=',biasa)

tamvan = False
jelek = True
biasa = tamvan or jelek
print(tamvan,'OR',jelek,'=',biasa)

True OR False = True
True OR True = True
False OR False = False
False OR True = True

In [3]:
tamvan = True
jelek = False
biasa = tamvan and jelek
print(tamvan,'AND',jelek,'=',biasa)

tamvan = True
jelek = True
biasa = tamvan and jelek
print(tamvan,'AND',jelek,'=',biasa)

tamvan = False
jelek = False
biasa = tamvan and jelek
print(tamvan,'AND',jelek,'=',biasa)

tamvan = False
jelek = True
biasa = tamvan and jelek
print(tamvan,'AND',jelek,'=',biasa)

True AND False = False
True AND True = True
False AND False = False
False AND True = False

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'Besar' jika ruangan adalah 'Kamar' dan ukuran lebih dari 12, kemudian mem-print 'Sedang' jika ruangan adalah 'Kamar' dan ukuran lebih dari 6 dan memprint 'Kecil' jika ruangan adalah 'Kamar' dan ukuran ruangan lebih kecil dan sama dengan 6.

In [1]:
ruangan = 'Kamar'
size = 20

if size > 12: 
    print('Besar')
elif size > 6 :
    print('Sedang')
elif size <= 6:
    print('Kecil')

Besar

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [0]:
# Buat fungsi
number = [1, 4, 5, 17, 20, 21] 
def aneh_list(inp_list):
    aneh = ganjil
    tidak_aneh = genap 
    
    return aneh
    return tidak_aneh
    
print(aneh_list(number))

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

In [0]:
#perbedaan while and for loop
#For loop untuk melakukan command pengulangan yang sama dan berdaasar pada jumlah kompone, sementara
#while loop melakukan perulangan selama kondisi pada while loop tersebut benar.

In [4]:
kaya = ['rumah','mobil','wanita']
for harta in kaya:
    print('kalau saya kaya saya punya ' + harta )

kalau saya kaya saya punya rumah
kalau saya kaya saya punya mobil
kalau saya kaya saya punya wanita

In [ ]:
jumlah_lantai = 46
while jumlah_lantai >=30:
    print(jumlah_lantai)
    jumlah_lantai -=1

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang merima satu input nilai numeric
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [ ]:
a = 10
while a <= 10:
    print(a)
    a-=1

Expected Output:

10

9

8

7

6

5

4

3

2

1

<h2>Soal 7: For Loop</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [0]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for ..... in .......(obj_list):
    ...........

Expected Output:

0

16

22

30

20